
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="Name" class="control-label">Category Title</label>
            <input class="form-control" ng-model="category.title" placeholder="Title" type="text" />
        </div>
        <div class="form-group">
            <label for="Name" class="control-label">Issue Year</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">YYYY</span>
                </div>
                <input class="form-control" ng-model="category.issueYear" placeholder="Year" type="text" />
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Save" ng-click="SaveCategory()" />
        </div>
    </div>
</div>