<a class="btn btn-success my-2" href="#!/addCategories">Create</a>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Title
            </th>
            <th>
                Issue Year
            </th>
            <th>
               Actions 
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in categories">
            <td>
                {{category.title}}
            </td>
            <td>
                {{category.issueYear}}
            </td>
            <td>
                <a class="btn btn-secondary" href="#!/editCategory/{{category.id}}">Edit</a>
                <a class="btn btn-danger text-light" ng-click="DeleteCategory(category)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>