
<div class="row mt-4">
    <div class="col-md-4 m-auto rounded py-4 px-4 shadow">
        <div class="form-group">
            <label for="Name" class="control-label">Book Title</label>
            <input class="form-control" placeholder="Title" type="text" required ng-model="book.title" />
        </div>
        <div class="form-group">
            <label for="Name" class="control-label">Issue Year</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">YYYY</span>
                </div>
                <input class="form-control" placeholder="Year" type="text" required
                        aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="book.issueYear" />
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="Name" class="control-label">IsAvailable</label>
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" ng-model="book.isAvailable" />
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Categories</label>
            </div>
            <select class="custom-select" required
                    ng-options="category.id as category.title for category in categories"
                    ng-model="book.categoryId" ng-change="GetBooks()">
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" ng-click="SaveBook()" />
        </div>
    </div>
</div>