<table class="table table-striped mt-4">
    <thead class="thead-dark">
        <tr>
            <th>
                Title
            </th>
            <th>
                Issue Year
            </th>
            <th>
                Is Available
            </th>
            <th>
                Categories
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in books">
            <td>
                {{book.title}}
            </td>
            <td>
                {{book.issueYear}}
            </td>
            <td>
                {{book.isAvailable}}
            </td>
            <td>
                {{book.categoryName}}
            </td>
            <td>
                <a class="btn btn-secondary" href="#!/editBook/{{book.id}}">Edit</a>
                <a class="btn btn-danger text-light" ng-click="DeleteBook(book)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success my-2" href="#!/addBooks">Create</a>
